<!DOCTYPE html>
<html>
<head>
  <title>FancyUploader</title>
  <%= stylesheet_link_tag    "fancy_uploader/application", media: "all" %>
  <%= javascript_include_tag "fancy_uploader/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
