.admin_jobs.import .counter
  position: relative

  .current
    position: absolute
    text-align: center
    left: 0
    right: 0
    top: 5px

.admin_jobs.import .import_complete_text
  text-align: center
  font-size: 12px
  font-style: italic

