.image-file
  width: 100%
  margin-bottom: 10px
  position: relative
  background: #f4f4f4
  border-radius: 5px
  height: 130px
  +box-shadow(inset 0 1px 4px #dddddd)

  &:before
    content: ''
    display: inline-block
    height: 100%
    vertical-align: middle

.placeholder
  width: 100%
  margin-bottom: 10px
  position: relative
  background: #f4f4f4
  border-radius: 5px
  height: 130px
  +box-shadow(inset 0 1px 4px #dddddd)

.image-file .progress
  height: 10px
  position: absolute
  top: 50%
  margin: -6px auto 0 auto
  width: 96%
  border-radius: 3px
  left: 0
  right: 0
  border: 1px solid #494949

  .bar
    width: 0
    height: 100%
    +linear-gradient(to bottom, #f7f7f7 0%,#38678b 100%)

li.img_preview
  list-style: none


.img_preview label
  display: block
  width: 20%
  font-size: 1.0em
  font-weight: bold
  color: #5e6469

.image-file.ui-sortable-placeholder
  border: 1px dashed gray
  visibility: visible !important

.image-file.ui-sortable-helper
  @include box-shadow(0 0 5px 1px rgba(0,0,0,0.3))
  visibility: visible !important

#dropzone
  margin-top: 20px
  margin-bottom: 20px
  min-width: 550px
  width: 100%
  height: 100px
  line-height: 100px
  text-align: center
  background: #f9f9f9
  border: 2px solid #e1e1e1

  &.drop-dragover
    background: #e6e6e6
    border: 2px dashed gray

.dropzone-title
  display: inline-block
  font-size: 1.0em
  font-weight: bold
  color: #5e6469
  margin-right: 30px

.hidden-input
  display: none

.img-preview
  display: inline-block
  vertical-align: middle
  width: 150px
  padding: 15px 15px 15px 30px

.filelist .handle
  width: 16px
  height: 16px
  cursor: move
  display: inline-block
  vertical-align: middle
  margin-left: 10px
  background-image: image-url('fancy_uploader/ico/drag-cursor.png')

  &:hover
    background-image: image-url('fancy_uploader/ico/drag-cursor_hover.png')

.destroy-image-link
  height: 100%
  width: 30px
  display: inline-block
  vertical-align: middle
  position: absolute
  right: 30px

  &:before
    content: ''
    display: inline-block
    height: 100%
    vertical-align: middle

  a
    display: inline-block
    vertical-align: middle
    width: 16px
    height: 16px
    background-image: image-url('fancy_uploader/ico/photo-delete.png')

    &:hover
      background-image: image-url('fancy_uploader/ico/photo-delete_hover.png')

form input.title-input
  width: 300px
  display: inline-block
